{% load static %}  
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/full-width-pics.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #00C3D3;">
    <div class="container">
      <a class="navbar-brand" href="index">Conveniote</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">New here? Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% block body_block %}
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://www.itl.cat/downwall/ibxwThb_online-education/');">
    <img class="img-fluid d-block mx-auto" src="{% static '/FrontPage.png' %}" alt="">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>What is Conveniote?</h1>
      <p class="lead">Conveniote is a convenient note taking app for educators and students.</p>
      <p>Users can create courses to keep track of their notes, deadlines, resources, and course information. Users can also create their own custom sections to store any other information.</p>
    </div>
  </section>

  <!-- Image element - set the background image for the header in the line below -->
<!--  <div class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');"> -->
    <img class="img-fluid d-block mx-auto" src="{% static '/Child.jpeg' %}" alt="" style="width: 77%">
   

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Additional Features</h1>
      <p class="lead">Conveniote comes with interactive built-in features.</p>
      <p>
        <ul>
        <li>Calendar: for keeping track of events for each course</li>
        <li>Reminder system: when a calendar event is about to take place or a class is about to start</li>
        <li>Customizable interface</li>
        <li>Support for PDF and video files</li>
        <li>Grade calculator</li>
      </p>
      </ul>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5" style="background-color: #00C3D3;">
    <div class="container">
      <a class="nav-link" target="_blank" href="https://github.com/CSCI-40500-77100-Spring-2021/project-12" style="color: white; text-align: center;">Our Github Page</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
{% endblock body_block%}
